#page-home{
    height: 100vh;
    width: 100%;
    
}
#page-home-landing{
    width: 100%;
    height: 100%;  
    background-image: url("/assets/home_background.png");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;

}

#landing-left{
    display: false;
    color: white;
    justify-content: center;
    align-items: center;
}

#landing-left-content h1{
    font-size: 5em;
}

#landing-left-content p{
    font-size: 3em;
}

#landing-left-content button{
    font-size: 2em;
    padding: .5em;
}